.navbarContainer {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 85px;
    background-color: black;
    overflow-y: auto;
}

.navbarLogo {
    width:85px;
    padding: 5px;
}

.navbarLogoLink {
    display: block;
    overflow: hidden;
    height: 75px;
    background-image: url('images/northeasternLogo.png');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;

}

.navbarItemList {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    align-content: center;
}

.navbarItem {
    width:100%;
    padding: 5px;
    display: list-item;
}

.navbarItemLink {
    text-decoration: none;
    width: 100%;
    display: block;
    text-align: center;
}

.navbarAccountIcon {
    color: #ABAAAA;
    font-size:1.75em;
}

.navbarItemIcon {
    color: #D41A2D;
    font-size:1.75em;
    padding-top: 7px;
}

.navbarItemText {
    color: #ffffff;
    font-size: 13px;
    padding-top: 5px;
}

.navbarItemSelected {
    background-color: #ffffff;
}

.navbarItemSelectedText {
    color: #D41A2D;
}